build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23
build --cxxopt=-Wall 
build --cxxopt=-Wextra
build --cxxopt=-Werror
build --color=yes

build --action_env=CC=clang
build --action_env=CXX=clang++
build --repo_env=CC=clang
build --repo_env=CXX=clang++

build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan

common --enable_bzlmod


test --cxxopt=-Wno-error=character-conversion
test --cxxopt=-Wno-character-conversion
