build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23
build --cxxopt=-Wall 
build --cxxopt=-Wextra
build --cxxopt=-Werror
build --color=yes

build --action_env=CC=clang
build --action_env=CXX=clang++

common --enable_bzlmod
